# Dependencies
node_modules/
.pnp
.pnp.js

# Production Build Output
dist/
build/
release-apks/

# Environment Variables
.env
.env.local
.env.development.local
.env.test.local
.env.production.local
!.env.example

# Logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
lerna-debug.log*
*.log

# Editor & OS files
.DS_Store
.AppleDouble
.LSOverride
Thumbs.db
.vscode/
.idea/
*.sublime-project
*.sublime-workspace

# Android & Capacitor Artifacts
android/.gradle/
android/build/
android/app/build/
android/captures/
android/local.properties
android/app/release/
*.apk
*.aab
.gradle/
